.hamburger {
    display: none;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 24px;
    cursor: pointer;
    animation: all .3s ease-in-out;

    @media(max-width: 1200px) {
        display: block;
    }

    @media(max-width: 575px) {
        right: 10px;
    }

    span {
        display: block;
        height: 4px;
        border-radius: 5px;
        width: 100%;
        background-color: #000;
        margin-bottom: 5px;
        transition: all 0.5s;


    }

    &_true {
        span {
            margin-bottom: -4px;

            &:nth-child(1) {
                transform: translateY(5px) rotate(-45deg);

            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                transform: translateY(5px) rotate(45deg);
            }
        }
    }
}