.descr {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media(max-width: 797px) {
        text-align: center;
    }

    &_firstText {
        font-weight: 700;
        font-size: 41px;
        line-height: 57px;
        letter-spacing: 0.5px;
        white-space: break-spaces;
        color: $text-color;

        @media(max-width: 900px) {
            font-size: 21px;
        }

        @media(max-width: 797px) {
            font-size: 15px;
        }

    }

    &_secondText,
    &_bottomText {
        margin-top: 27px;
        font-weight: 400;
        font-size: 15px;
        line-height: 34px;

        letter-spacing: 0.5px;

        color: $subText-color;

        @media(max-width: 900px) {
            font-size: 12px;
        }

        @media(max-width: 797px) {
            font-size: 10px;
        }

    }


}