.form {
    min-height: 275px;
    padding: 50px 40px 70.5px 40px;
    width: 300px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px -5px, rgb(0 0 0 / 4%) 0px 40px 80px -5px;
    border-radius: 16px;
    position: relative;

    &-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &-container {
        padding: 2rem 0;
    }

    &-input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid rgba(34, 34, 34, 0.15);
        outline: none;
        color: $subText-color;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.5px;
        padding: 5px;

        &:focus+.form-label_span,
        .form-input+.form-label_span {
            top: -1.5rem;
            left: -0.1rem;
            font-size: 0.7rem;

        }
    }

    &-label {
        position: relative;

        &_span {
            position: absolute;
            top: 0rem;
            left: 0.5rem;
            transition: all 0.2s ease;
            pointer-events: none;
            font-family: 'Nunito Sans';
            font-weight: 700;
            font-size: 0.9rem;
            line-height: 22px;
            letter-spacing: 0.5px;

        }
    }

    &-btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -25px;
        border: none;
        cursor: pointer;
        font-family: 'Nunito Sans';
        width: 200px;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        letter-spacing: 0.5px;
        padding: 20px 46px;
        display: block;
        margin: 0 auto;
        color: #FFFFFF;
        background: $text-color;
        border-radius: 4px;
    }


}