.title {
    &_firstText {
        font-weight: 700;
        font-size: 48px;
        line-height: 65px;

        color: $text-color;

        @media(max-width: 900px) {
            font-size: 28px;
        }

        @media(max-width: 575px) {
            font-size: 18px;
        }
    }

    &_secondText {
        font-weight: 400;
        font-size: 17px;
        line-height: 46px;
        letter-spacing: 0.03em;
        color: $subText-color;
        opacity: 0.8;

        @media(max-width: 900px) {
            font-size: 12px;
            width: 100%;
        }

        @media(max-width: 575px) {
            line-height: 21px;
        }

        &.mt39 {
            margin-top: 39px;
        }

        &.mt20 {
            margin-top: 20px;
        }
    }
}