.audio-player {
    width: 350px;
    border-radius: 20px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    color: var(--white);
    margin-top: 50px;
}

.artwork {
    border-radius: 120px;
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

.track-info {
    text-align: center;
    z-index: 1;
    position: relative;
}

.audio-title {
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}



.audio-artist {
    margin-top: 20px;
    font-weight: 300;
    margin-top: 0;
}

input[type=range] {
    height: 5px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #3b7677;
    transition: background 0.2s ease;
    cursor: pointer;
}

.audio-time {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.audio-currentTime,
.audio-duration {
    font-size: 15px;
    font-weight: 400;
}