.about,
.appAboutOne {
    padding: 0 0 190px 0;
    position: relative;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;

        &_img {
            width: 476px;
            height: 476px;

            &.order2 {
                order: 2;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 16px;
            }
        }

        &_descr {
            width: 576px;
            margin-left: 124px;

            &.order1 {
                order: 1;
                margin-left: 0;
                margin-right: 80px;
            }
        }
    }
}

.blockSearch {
    position: absolute;
    left: 350px;
    top: 300px;
}