.blockSearchOrder {
    position: absolute;
    left: 50%;
    bottom: 30px;

    &-block {
        padding: 30px 41px 30px 30px;
        background: #FFFFFF;
        border-radius: 16px;
        width: 400px;
        min-height: 266px;
        box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px -5px, rgb(0 0 0 / 4%) 0px 40px 80px -5px;
    }

    &-descr {
        margin-top: 33px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.5px;
        color: #444444;
    }

    &-personName {

        margin-top: 42px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.5px;
        color: #222220;
        margin-left: 55px;

    }

}


.iconStars {
    display: flex;
    flex-direction: row;

    img {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

}