.event {
    text-align: center;
    min-height: 700px;
    padding-bottom: 166px;

    &-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
        color: #181539;
    }

    &-secondText {
        width: 55rem;
        margin-right: auto;
        margin-left: auto;
    }

    &-video {
        margin-top: 75px;
    }
}