.promo {
    padding: 85px 0 227px 0;
    min-height: 500px;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 900px) {
            width: 100%;
            display: block;
            position: relative;
        }

        &_firstBlock {
            width: 400px;

            @media(max-width: 900px) {
                text-align: center;
                width: 100%;
            }
        }

        &__secondBlock {

            img {
                background: transparent;

                @media(max-width: 1200px) {
                    width: 500px;
                    height: auto;
                    transform: rotate3d(0, -33, -2, -0.58turn);
                }

                @media(max-width: 900px) {
                    position: absolute;
                    top: -80px;
                    left: 50%;
                    z-index: -1;
                    transform: rotate3d(0, 0, 0, 0turn) translateX(-50%);
                }

                @media(max-width: 575px) {
                    width: 250px;
                }

            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 8.5px;
        color: #222222;
        margin-bottom: 43px;
    }

    &__btns {
        margin-top: 41px;
        display: flex;
        align-items: center;

        @media(max-width: 575px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

}